/* ---- Trackball (PMW3360) ---- */

/* 0番インスタンスのI2Cを止める（存在するものだけ書く） */
&i2c0 { status = "disabled"; };

/* SPIM0 を使う（これだけ okay にする） */
&spim0 {
  status = "okay";

  /* もし pinctrl が必要なら、keyball44.dtsi 側に定義した pinctrl を指定 */
  /* pinctrl-0 = <&spi0_default>; */
  /* pinctrl-1 = <&spi0_sleep>; */
  /* pinctrl-names = "default", "sleep"; */

  cs-gpios = <&gpio0 9 GPIO_ACTIVE_LOW>;

  trackball: trackball@0 {
    compatible = "pixart,pmw3360";
    reg = <0>;

    spi-max-frequency = <1000000>;

    /* まずは“元の定番”に戻した方が動作確認しやすい */
    irq-gpios = <&gpio0 8 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
  };
};
